# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
# Yarn 3 files
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
junit.xml
*,cover

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/
.ipynb_checkpoints/
*.xunit.xml
screenshots/
node_modules/

.vscode/
**/tsconfig.tsbuildinfo
.pytest_cache/
mamba_gator/navigator/static/**
!mamba_gator/navigator/static/.gitkeep
!mamba_gator/navigator/static/main.js
!mamba_gator/navigator/static/tree.js
!mamba_gator/navigator/static/favicon.svg
packages/**/coverage/**
mamba_gator/labextension/**
packages/navigator/webpack-report.html
mamba_gator/nbextension/static/**
!mamba_gator/nbextension/static/favicon.svg
.playwright/
# Version file is handled by hatchling
mamba_gator/_version.py