include LICENSE
include README.md
include requirements_dev.txt

recursive-include jupyter-config *.json
recursive-include mamba_gator *

include package.json
include lerna.json
include yarn.lock
include tsconfig.json
include tsconfig-base.json
include eslint-base.js
graft packages
graft mamba_gator/labextension
prune packages/**/coverage
prune packages/**/lib
prune packages/**/build
prune packages/**/node_modules
prune **/.ipynb_checkpoints
prune **/.vscode

# Patterns to exclude from any directory
global-exclude *~
global-exclude *.pyc
global-exclude *.pyo
global-exclude *.gif
global-exclude *.tsbuildinfo
global-exclude *.log
