include LICENSE
include README.md
include setup.py
include requirements.txt
include requirements_dev.txt

recursive-include jupyter-config *.json
recursive-include jupyter_conda *

include package.json
graft labextension
prune labextension/coverage
prune labextension/lib
prune labextension/build
prune labextension/node_modules
prune **/.ipynb_checkpoints
prune **/.vscode

# Patterns to exclude from any directory
global-exclude *~
global-exclude *.pyc
global-exclude *.pyo
global-exclude *.gif
global-exclude *.tsbuildinfo
global-exclude *.log