[build-system]
requires = ["hatchling>=1.5.0", "jupyterlab>=4.0.0,<5", "hatch-nodejs-version>=0.3.2"]
build-backend = "hatchling.build"

[project]
name = "mamba_gator"
readme = "README.md"
license = { file = "LICENSE" }
requires-python = ">=3.8"
classifiers = [
    "Framework :: Jupyter",
    "Framework :: Jupyter :: JupyterLab",
    "Framework :: Jupyter :: JupyterLab :: 4",
    "Framework :: Jupyter :: JupyterLab :: Extensions",
    "Framework :: Jupyter :: JupyterLab :: Extensions :: Prebuilt",
    "License :: OSI Approved :: BSD License",
    "Programming Language :: Python",
    "Programming Language :: Python :: 3",
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3.11",
    "Programming Language :: Python :: 3.12",
]
dependencies = [
    # "conda>=4.5",  # Required conda not available through PyPi anymore
    "jupyter_client",
    "jupyter_server>=2.0.1,<3",
    "jupyterlab_server",
    "packaging",
    "tornado",
    "traitlets",
]
dynamic = ["version", "description", "authors", "urls", "keywords"]

[project.optional-dependencies]
"test" = [
    "coverage",
    "black==23.10.1",
    "nb_conda_kernels>=2.2.0",
    "pytest",
    "pytest-asyncio",
    "requests",
    "ruff==0.1.4",
]

[project.scripts]
gator = "mamba_gator.navigator.main:main"

[tool.hatch.version]
path = "mamba_gator/_version.py"

[tool.hatch.metadata.hooks.nodejs]
fields = ["description", "authors", "urls"]

[tool.hatch.build.targets.sdist]
artifacts = ["mamba_gator/labextension", "mamba_gator/navigator/static", "mamba_gator/navigator/template"]
exclude = [".github", "binder"]

[tool.hatch.build.targets.wheel.shared-data]
"mamba_gator/labextension" = "share/jupyter/labextensions/gator"
"install.json" = "share/jupyter/labextensions/gator/install.json"
"jupyter-config/server-config" = "etc/jupyter/jupyter_server_config.d"

[tool.hatch.build.hooks.version]
path = "mamba_gator/_version.py"

[tool.hatch.build.hooks.jupyter-builder]
dependencies = ["hatch-jupyter-builder>=0.5"]
build-function = "hatch_jupyter_builder.npm_builder"
ensured-targets = [
    "mamba_gator/labextension/static/style.js",
    "mamba_gator/labextension/package.json",
]
skip-if-exists = ["mamba_gator/labextension/static/style.js"]

[tool.hatch.build.hooks.jupyter-builder.build-kwargs]
build_cmd = "build:prod"
npm = ["jlpm"]

[tool.hatch.build.hooks.jupyter-builder.editable-build-kwargs]
npm = ["jlpm"]
source_dir = "packages"
build_dir = "mamba_gator/labextension"

[tool.jupyter-releaser.options]
version-cmd = "python scripts/bump_version.py --force"

[tool.jupyter-releaser.hooks]
before-bump-version = [
    "jlpm install"
]
before-build-npm = [
    "python -m pip install 'jupyterlab>=4.0.0,<5'",
    "jlpm",
    "jlpm build:prod"
]
before-build-python = ["jlpm clean:all"]

[tool.check-wheel-contents]
ignore = ["W002"]

[tool.black]
line-length = 100
target-version = ["py38"]

[tool.pytest.ini_options]
addopts = "--rootdir=mamba_gator --strict-markers"

[tool.ruff]
target-version = "py38"
line-length = 100
