.jp-NbConda-EnvToolbar {
  justify-content: space-evenly;
  border-bottom: none;
}

.jp-NbConda-ToolbarPackages {
  align-items: center;
  height: 29px;
}

.jp-NbConda-ToolbarPackages > .jp-Toolbar-item > .jp-select-wrapper {
  height: 100%;
  background-color: var(--jp-notebook-select-background);
}

.jp-NbConda-ToolbarPackages select.jp-mod-styled {
  font-size: var(--jp-ui-font-size1);
  background-size: 16px;
  padding-right: 16px;
  border: none;
  border-radius: 0;
  outline: none;
  background-color: transparent;
}

.jp-NbConda-ToolbarPackages > .jp-Toolbar-item > button.jp-mod-accept {
  background: var(--jp-brand-color1);
  color: white;
  border: 1px solid var(--jp-brand-color1);
}

.jp-NbConda-ToolbarPackages > .jp-Toolbar-item > button.jp-mod-accept:hover {
  background: var(--jp-brand-color2);
}

.jp-NbConda-ToolbarPackages > .jp-Toolbar-item > button.jp-mod-reject {
  background: var(--md-grey-500);
  border: 1px solid var(--md-grey-500);
  color: white;
}

.jp-NbConda-ToolbarPackages > .jp-Toolbar-item > button.jp-mod-reject:hover {
  background: var(--md-grey-400);
}

button.jp-button-hide {
  display: none;
}

/*
  Pending entry progress indicator

  Stolen from jlab extensions manager ;-)
*/

.jp-NbConda-pending {
  height: 4px;
  width: 100%;
  position: relative;
  overflow: hidden;
  background-color: var(--jp-layout-color1);
}

.jp-NbConda-pending.jp-mod-hasPending:before {
  display: block;
  position: absolute;
  content: "";
  left: -200px;
  width: 200px;
  height: 4px;
  border-radius: 5px;
  background-color: var(--jp-brand-color1);
  animation: loading 2s linear infinite;
}

@keyframes loading {
  from {
    left: -200px;
    width: 30%;
  }
  50% {
    width: 30%;
  }
  70% {
    width: 70%;
  }
  80% {
    left: 50%;
  }
  95% {
    left: 120%;
  }
  to {
    left: 100%;
  }
}
