.jp-CondaEnv {
  outline: none;
}

.jp-CondaEnv::before {
  content: '';
  display: block;
  height: var(--jp-toolbar-micro-height);
  background: var(--jp-toolbar-background);
  border-bottom: 1px solid var(--jp-toolbar-border-color);
  box-shadow: var(--jp-toolbar-box-shadow);
  z-index: 10;
}

button.jp-button-hide {
  display: none;
}
